<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
    <title>Join Us</title>
</head>

<div class="flex-container">
    <div class="container">
        <h1>Confirmation!</h1>
        <p>You've joined!</p>
        <form method="GET" action='/'>
            <button class="return">Go back to homepage</button>
        </form>
    </div>
</div>